body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    
}

header {
    background-color: #053f5c;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #429ebd;
    color: #fff;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 0 0.5em;
}

section {
    padding: 1em;
}

article {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    padding: 3em;
    font-size:x-large;

}


#img_for_article {
    max-width: 500px;
    max-height: 500px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

footer {
    background-color: #053f5c;
    
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.social-media {
    position: absolute;
    left: 1em;
    bottom: 1em;
}

.contact-info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    max-width: 100px;
    position: absolute;
    right: 1em;
    bottom: 1em;
}
.p1{
    color: #053f5c
}
